.neo-loader-style.neo-loader-three-bounce {
  height: 1.25rem; /* h-5 */
  width: 5rem; /* w-20 */
  text-align: center;
}

.neo-loader-style.neo-loader-three-bounce .neo-loader-child {
  display: inline-block;
  height: 1.25rem; /* h-5 */
  width: 1.25rem; /* w-5 */
  border-radius: 9999px; /* rounded-full */
  animation: neo-three-bounce 1.4s ease-in-out 0s infinite both;
  background-color: var(--loader-text);
}

.neo-loader-style.neo-loader-three-bounce .neo-loader-bounce1 {
  animation-delay: -0.32s;
}

.neo-loader-style.neo-loader-three-bounce .neo-loader-bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes neo-three-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes neo-three-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
