.neo-loader {
  @apply inline-flex cursor-wait flex-col items-center justify-center gap-3 rounded-lg p-3 text-xs;
  background-color: var(--loader-bg, inherit);
  color: var(--loader-text, inherit);
  // box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);

  .neo-loader-title {
    @apply mt-2 text-xs font-bold uppercase leading-none;
  }

  .neo-loader-style {
    @apply relative h-10 min-w-10;
  }

  &.neo-loader--type-icon {
    @apply text-inherit;
  }
}

.ajax-progress {
  &.ajax-progress-throbber {
    @apply opacity-0 transition-opacity;

    .neo-loader {
      @apply flex-row;
    }

    &.active {
      @apply opacity-100;
    }
  }

  .ajax-progress-wrapper & {
    @apply absolute left-0 top-0 flex h-full w-full items-center justify-center;
    background-color: rgb(var(--loader-bg) / 0.5);

    .neo-loader {
      @apply sticky bottom-displace-b top-displace-t bg-transparent p-2;
    }
  }

  &.ajax-progress-fullscreen {
    @apply fixed left-0 flex h-full w-full cursor-wait flex-col items-center opacity-0 transition-all;
    z-index: 49;
    top: var(--drupal-displace-offset-top, 0px);
    right: var(--drupal-displace-offset-right, 0px);
    bottom: var(--drupal-displace-offset-bottom, 0px);
    left: var(--drupal-displace-offset-left, 0px);

    &:after {
      @apply bg-base-900/70 opacity-0 transition-opacity;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      transition-delay: 1000ms;
    }

    .neo-loader {
      @apply z-10 -translate-y-full rounded-t-none transition-transform;

      .neo-loader-style {
        @apply h-8 min-w-8;
      }
    }

    &.active {
      @apply opacity-100 duration-300;

      &:after {
        @apply opacity-100;
        transition-duration: 2000ms;
      }

      .neo-loader {
        @apply translate-y-0 duration-300;
      }
    }
  }
}

.ajax-progress-wrapper {
  @apply relative;
}
